<%- include('../partials/navbar.ejs') %>


<<<<<<< HEAD
<div class="main_section" style="height:80%;">
    <div class="main_container" style="height: 100%;">
        
        <div class="table_section" style="height: 100%;">
            <div class="table_top">
                <div class="table_title_container">
                    <h1 class="table_title">Statistics</h1>
                </div>




            </div>
        </div>
        
=======
<div class="main_section">
    <div class="main_container">


>>>>>>> main
    </div>
</div>