<%- include('../partials/spec_navbar.ejs') %>

<div class="main_section">
    <div class="main_spec">
        
        <div class="main_spec_container">
            <%- include('../partials/ticket_table.ejs') %>
        </div>

        <div class="main_spec_container">
            <div class="table_section">
                <div class="table_top">
                    <div class="table_title_container">
                        <h1 class="table_title">Open Tickets</h1>
                        <p class="table_title_info">Total 12</p>
                    </div>
                    <div class="table_options_container">
                        <%- include('../partials/pagination.ejs') %>
                    </div>
                </div>
                <table class="ticket_table">
                    <thead class="table_headers">
                        <tr>
                            <th>ID</th> 
                            <th>Problem Type</th>
                            <th>Title</th>    
                            <th>Last Updated</th> 
                        </tr>
                    </thead>
            
                    <tbody class="ticket-body op-ticket-body">
                        
                        <tr class="overdue">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr class="overdue">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr data-href="">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr data-href="">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr data-href="">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr data-href="">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                        <tr data-href="">
                            <!-- <td class="active">Active</td> -->
                            <td>3</td>
                            <td>Software</td>
                            <td>Broken Computer</td>
                            <td>20/03/27</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="scripts/index.js" type="text/javascript"></script>