<%- include('./partials/spec_navbar.ejs') %>

<div class="main_section">
    <div class="main_container">
        <div class="account_section">
            <div class="account_wrapper">
                <h1>Account</h1>
                <div class="account_info">
                    <div class="info-section basic-info-section">
                        <div class="info-title">
                            Basic info
                        </div>
                        <div class="info-rows-section">
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Username</p>
                                </div>
                                <p class="info-tag">wijdiwdj</p>
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Name</p>
                                </div>
                                <p class="info-tag">wijdiwdj</p>
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>User ID</p>
                                </div>
                                <p class="info-tag">wijdiwdj</p>
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Job Title</p>
                                </div>
                                <p class="info-tag">wijdiwdj</p>
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Account type</p>
                                </div>
                                <p class="info-tag">wijdiwdj</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-section contact-info-section">
                        <div class="info-title">
                            Contact info
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Phone Number</p>
                            </div>
                            <p class="info-tag">wijdiwdj</p>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <p>Department</p>
                            </div>
                            <p class="info-tag">wijdiwdj</p>
                        </div>
                    </div>
                    <div class="info-section password-info-section"> 
                        <div class="info-row password-info-row">
                            <div class="info-label">
                                <p>Password</p>
                            </div>
                            <div class="info-tag">
                                <div class="changePassword_section" id="cp_section">
                                    <a href="/" class="account-btn" id="changePassword-btn">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="logout-area">
                        <button class="account-btn" id="logout-btn">Logout</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>