<%- include('./partials/spec_navbar.ejs') %>

<div class="container">
    <div class="m-4 p-4 bg-white rounded-3">
        <h1>Account</h1>

        <div class="info-section">
            <h4 class="p-3">
                Basic info
            </h4>
            <div class="info-row">
                <div class="info-label">
                    <p>Username</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
            <div class="info-row">
                <div class="info-label">
                    <p>Name</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
            <div class="info-row">
                <div class="info-label">
                    <p>User ID</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
            <div class="info-row">
                <div class="info-label">
                    <p>Job Title</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
            <div class="info-row border-0">
                <div class="info-label">
                    <p>Account type</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
        </div>

        <div class="info-section">
            <h4 class="p-3">
                Contact info
            </h4>

            <div class="info-row">
                <div class="info-label">
                    <p>Phone Number</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
            <div class="info-row border-0">
                <div class="info-label">
                    <p>Department</p>
                </div>
                <p class="info-tag">wijdiwdj</p>
            </div>
        </div>

        <div class="info-section">
            <h4 class="p-3">
                Password
            </h4>

            <div class="info-row border-0">
                <div class="info-label">
                    <p>Password</p>
                </div>
                <div class="info-tag">
                    <div class="changePassword_section" id="cp_section">
                        <a href="/" class="btn btn-outline-secondary" id="changePassword-btn">Change Password</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-secondary" id="logout-btn">Logout</button>
    </div>
</div>