<!--shows all tickets in the system-->
<%- include('./partials/navbar.ejs') %>

<div class="main_section" id="admin_section">
    <div class="main_container">

        <%- include('./partials/ticket_table.ejs') %>

    </div>

</div>