<!--This page allows for changing password-->
<style>
    .change_password {
        width: 100%;
        max-width: 350px;
        padding: 20px;
        margin: auto;
    }

    .change_password input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .change_password input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="change_password">
    <form action="/change_password" method="POST">
        <h1 class="h1 text-center pb-3">Change Password</h1>

        <% if (errors) { %>
            <div class="alert alert-danger">
                <%= errors[0].msg %>
            </div>
        <% } %>

        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">New password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            <label for="confirm_password">Confirm password</label>
        </div>

        <button class="btn btn-primary btn-lg w-100" type="submit">Submit</button>
    </form>
</div>
