<style>
    .login {
        width: 100%;
        max-width: 350px;
        padding: 20px;
        margin: auto;
    }

    .login input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .login input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="login">
    <form action="/login" method="POST">
        <img src="../img/springdesk-black.png" alt="App Logo" width = "300" height = "auto">
        <!-- <h1 class="h1 text-center pb-3">Make-It-All</h1> -->

        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">Password</label>
        </div>

        <button class="btn btn-primary btn-lg w-100" type="submit">Log in</button>
    </form>
</div>
