<%- include('./partials/navbar.ejs') %>

<div class="main_section">
    <div class="main_container">
        <div class="information_section">
            <div class="submission_wrapper">
                <h1>Submit a problem</h1>
                <div class="submission_section">
                    <div class="submission_item problem_type_section">
                        <h2 class="submission_title">Problem Type</h2>
                        <p class="submission_subtitle">What kind of problem are you experiencing?</p>
                        <div class="checkbox_section">
                            <p class="checkbox_p">Select one or more options:</p>
                            <label class="chb_container">Hardware
                                <input type="checkbox" class="chb" id="chb_hardware">
                                <span class="checkmark"></span>
                            </label>
                            <div class="problem_type_input" id="hardware_input">
                                <p>Provide hardware serial number:</p>
                                <div class="hardware_input_sec">
                                    <input type="text" class="pt_input_field" list="hardware_list"
                                           placeholder="hardware id" value="">
                                    <div class="input_del">
                                        <!-- <button class="delete_input_btn"><i class="fa-solid fa-trash-can"></i></button> -->
                                    </div>
                                </div>
                                <datalist id="hardware_list">
                                    <option value="93489384"></option>
                                    <option value="93489384"></option>
                                    <option value="93489384"></option>
                                </datalist>
                                <button class="add_input_btn" id="add_hardware_btn">Add hardware</button>
                            </div>

                            <label class="chb_container">Software
                                <input type="checkbox" class="chb" id="chb_software">
                                <span class="checkmark"></span>
                            </label>
                            <div class="problem_type_input" id="software_input">
                                <div class="software_input_sec">
                                    <input type="text" class="pt_input_field" list="software_list"
                                           placeholder="software id" value="">
                                    <div class="input_del">

                                    </div>
                                </div>
                                <datalist id="software_list">
                                    <option value="93489384"></option>
                                    <option value="93489384"></option>
                                    <option value="93489384"></option>
                                </datalist>
                                <button class="add_input_btn" id="add_software_btn">Add software</button>
                            </div>

                            <label class="chb_container">Network
                                <input type="checkbox" class="chb" id="chb_network">
                                <span class="checkmark"></span>
                            </label>
                            <div class="problem_type_input">
                                <input type="text" class="pt_input_field" placeholder="" value="">
                            </div>

                            <label class="chb_container">Other
                                <input type="checkbox" class="chb" id="chb_other">
                                <span class="checkmark"></span>
                            </label>
                            <div class="problem_type_input" id="other_input">
                                <input type="text" class="pt_input_field" placeholder="other..." value="">
                            </div>

                        </div>
                    </div>
                    <div class="submission_item description_section">
                        <h2 class="submission_title">Description</h2>
                        <p class="submission_subtitle">Please describe the issue: </p>
                        <textarea name="description" class="user-textarea" id="user_description" cols="60"
                                  rows="10"></textarea>
                    </div>
                    <div class="submission_item notes_section">
                        <h2 class="submission_title">Notes</h2>
                        <p class="submission_subtitle">Provide any extra details: </p>
                        <textarea name="notes" placeholder="optional..." class="user-textarea" id="user_notes" cols="60"
                                  rows="10"></textarea>

                    </div>
                    <div class="submission_item submit_section">
                        <button id="submit-problem-btn">Submit Problem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/submit_problem.js" type="text/javascript"></script>