<%- include('./partials/spec_navbar.ejs') %>

<div class="main_section">
    <div class="main_container">
        <div class="information_section">
            <div class="information_wrapper">
                <h1>Ticket Information</h1>
                <div class="all_info">
                    <div class="info-section employee-info-section">
                        <div class="info-top">
                            <div class="info-title">
                                Employee
                            </div>
                            <div class="info-btns">
                                <!-- <button class="edit-btn">Edit</button> -->
                            </div>
                        </div>
                        <div class="info-rows-section">
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Name</p>
                                </div>
                                <input type="text" class="info-tag" value="item">
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>User ID</p>
                                </div>
                                <input type="text" class="info-tag" value="item">
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Job Title</p>
                                </div>
                                <input type="text" class="info-tag" value="item">
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Department</p>
                                </div>
                                <input type="text" class="info-tag" value="item">
                            </div>
                            <div class="info-row">
                                <div class="info-label">
                                    <p>Phone Number</p>
                                </div>
                                <input type="text" class="info-tag" value="item">
                            </div>
                        </div>
                    </div>
                    <div class="info-section ticket-info-section">
                        <div class="info-top">
                            <div class="info-title">
                                Ticket
                            </div>
                            <div class="info-btns">
                                <button class="edit-btn">Edit</button>
                            </div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">
                                <p>Date Created</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Last Updated</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Hardware</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Software</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Operating System</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row">
                            <div class="info-label">
                                <p>Problem Type</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div>
                        <div class="info-row textarea-row">
                            <div class="info-label">
                                <p>Description</p>
                            </div>
                            <div class="textarea-input">
                                <textarea name="description" placeholder="Add description" class="info-text" cols="50" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="info-row textarea-row">
                            <div class="info-label">
                                <p>Notes</p>
                            </div>
                            <div class="textarea-input">
                                <textarea name="notes" placeholder="Add notes" class="info-text" cols="50" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="info-section log-info-section"> 
                        <div class="info-row">
                            <div class="info-label">
                                <p>Ticket Log</p>
                            </div>
                            <div class="info-tag">
                                <div class="info_btn_section">
                                    <button class="info-btn" id="log-btn">Show Ticket Log</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="info-section solution-history-section"> 
                        <div class="info-row">
                            <div class="info-label">
                                <p>Solution History</p>
                            </div>
                            <div class="info-tag">
                                <div class="info_btn_section">
                                    <button class="info-btn" id="log-btn">Show Solution History</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-section ticket-info-section">
                        <!-- <div class="info-top">
                            <div class="info-title">
                                Solution
                            </div>
                            <div class="info-btns">
                            </div>
                        </div> -->

                        <div class="info-row textarea-solution">
                            <div class="info-label">
                                <p>Solution</p>
                            </div>
                            <div class="textarea-input">
                                <textarea name="solution" placeholder="Add a solution" class="info-text" cols="50" rows="8"></textarea>

                                <button class="submit-btn">Submit</button>
                            </div>
                        </div>
                        <!-- <div class="info-row">
                            <div class="info-label">
                                <p>Date Closed</p>
                            </div>
                            <input type="text" class="info-tag" value="item">
                        </div> -->

                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>