@import 'variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bodyColor);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

.table input.form-control:disabled {
    background-color: white;
}

.top_section {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav {
    background: var(--navColor);
    background-image: linear-gradient(to right, var(--navColor2), var(--navColor));
    color: var(--white);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    /* border-bottom: 1px solid var(--mainText); */
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}

.nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menus {
    padding: 10px;
}

.nav_menus ul {
    display: flex;
}

.menu_item {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: column;
}

.menu_item ul {
    position: absolute;
    min-width: 180px;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--navColor);
    padding-bottom: 5px;
}

li a {
    width: 100%;
    height: 100%;
}

li a:hover {
    background-color: var(--navLight);
}

.menu_item ul li {
    padding: 10px;
}

.menu_item:hover > ul {
    display: block;
}

.menu_item a {
    text-decoration: none;
    color: var(--navText);
    padding: 10px;
}

.nav_logo_container {
    display: flex;
    margin: 20px;
}

#nav-logo {
    text-decoration: none;
    color: var(--white);
}

.menu_title {
    display: flex;
}

.menu_item p {
    padding: 5px;
}

.search_item {
    display: flex;
    flex-direction: column;
}

.search_item ::placeholder {
    color: var(--navText);
}

.search_container {
    padding: 5px 10px 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--navLight);
    border-radius: 5px;
}

.search_container form {
    display: flex;
}

.search_input[type="text"] {
    background-color: transparent;
    outline: none;
    border: none;
    height: 25px;
    padding: 0 10px;
}

.search_input {
    width: 100%;
    max-width: 600px;
    min-width: 50px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
}

.search_btn {
    background: none;
    border: none;
    outline: none;
    color: var(--navLight);
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main_spec {
    display: grid;
    grid-template-columns: 60% 40%;
}

.main_spec_container {
    background-color: var(--white);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 6px var(--tableHeaderShade);
}

.main_container {
    background-color: var(--white);
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 6px var(--tableHeaderShade);
}

.table_section {
    overflow-y: scroll;
    height: 500px;
}

.ticket_table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9rem;
    table-layout: fixed;
    z-index: 2;
    width: 100%;
}

.ticket_table td, .ticket_table th {
    padding: 12px 25px;
}

.ticket_table thead tr {
    text-align: left;
    font-weight: bold;
    color: var(--grey);
    font-size: 75%;
    border-bottom: 1px solid var(--tableHeaderShade);
    text-transform: uppercase;
}

.ticket-body tr {
    border-bottom: solid 1px var(--tableHeaderColor);
    cursor: pointer;
}

.ticket-body tr:hover {
    /* border-bottom: solid 3px var(--mainColor);
    border-top: solid 3px var(--mainColor); */
    box-shadow: 0 0 6px rgb(0 0 0 / 20%),
    0 2px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.table_headers {
    background-color: var(--tableHeaderColor);
    background-image: linear-gradient(to right, var(--tableHeaderColor2), var(--tableHeaderColor));
    flex-shrink: 0;
    display: table-header-group;
    vertical-align: middle;
}

.table_top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_title_container {
    display: flex;
    align-items: center;
}

.table_title {
    font-size: 25px;
}

.table_title_info {
    font-size: 15px;
    margin: 5px;
    color: var(--grey);
}

.table_scroll_section {
    display: flex;
}

.table_scroll_container {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

.t-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
}

.t-button:hover {
    background-color: #dee6f1;
}

.t-arrow {
    min-height: 40px;
    min-width: 40px;
    padding: 4px;
}

.t-button-left {
    margin-right: 12px;
    opacity: 0.5;
    pointer-events: none;
}

.t-button-right {
    margin-left: 12px;
    opacity: 1;
    pointer-events: all;
}

.page-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-sep {
    padding-left: 2px;
    padding-right: 2px;
}

/* Account Page */
.information_wrapper {
    padding: 60px;
}

.all_info {
    flex-grow: 1;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 1.3rem;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #dadce0;
}

.info-title {
    font-size: 1.4rem;
}

.info-top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    padding: 10px;
}

.info-tag {
    position: absolute;
    left: 40%;
    padding: 0;
    border: none;
}

input.info-tag {
    border-bottom: 1px solid #dadce0;
}

.info-row {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dadce0;
    position: relative;
    align-items: center;
}

.info-label {
    margin-right: 30px;
    color: var(--greyText);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.textarea-row {
    padding-bottom: 130px;
    align-items: baseline;
}

.textarea-solution {
    padding-bottom: 170px;
    align-items: baseline;
}

.textarea-input {
    left: 40%;
    padding: 0;
    margin: -10px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.info-text {
    padding: 5px;
}

.submit-btn {
    padding: 5px;
    margin-top: 15px;
}

.password-info-row {
    border: none;
}

.logout-area {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

#logout-btn {
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

/* Tables Page */

.col-edit {
    width: 25%;
}

.tables {
    display: flex;
}

.edit-table {
    width: 15%;
}

.col-btn {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--greyText);
}

.col-btn:hover {
    cursor: pointer;
    background-color: var(--tableHeaderShade);
}

.table_options_container {
    display: flex;
    align-items: center;
}

.add-new-btn {
    padding: 10px;
    border: 1px solid var(--greyText);
    border-radius: 5px;
}

.add-new-btn:hover {
    background-color: var(--tableHeaderShade);
}

/* submit_problem Section */

.submission_wrapper {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submission_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.submission_item {
    padding: 20px;
}

.submission_subtitle {
    margin-top: 15px;
    margin-bottom: 5px;
}

.user-textarea {
    padding: 5px;
    font-size: 1.2vw;
}

.submit_section {
    display: flex;
    justify-content: center;
}

#submit-problem-btn {
    padding: 5px;
}

.checkbox_section {
    padding-top: 30px;
}

.problem_type_input {
    padding-bottom: 10px;
    flex-direction: column;
    display: none;
}

.pt_input_field {
    padding: 5px;

}

.hardware_input_sec {
    display: flex;
    align-items: center;
}

.input_del {
    margin-left: 10px;
}

/* --- Checkbox CSS --- */
/* Customize the label (the container) */
.chb_container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.checkbox_p {
    font-size: 12px;
    padding-bottom: 20px;
    color: var(--navColor);
}

/* Hide the browser's default checkbox */
.chb_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chb_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chb_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chb_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chb_container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

/* Admin View  */

#admin_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.admin_top {
    display: flex;
    justify-content: center;
    width: 60%;

}

.admin_panel {
    padding: 40px 120px;
    margin: 10px;
    background-color: var(--white);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 6px var(--tableHeaderShade);
    overflow: hidden;

    display: flex;
    position: relative;
}

.strike_line {
    position: absolute;
    padding: 3px;
    top: -8px;
    right: 0;
    left: 10px;
    width: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60%;
    transform: rotate(45deg);
}

.sl1 {
    background: var(--panelYellow);
}

.pi1 {
    color: var(--panelYellow);
}

.sl2 {
    background: var(--panelGreen);
}

.pi2 {
    color: var(--panelGreen);
}

.sl3 {
    background: var(--panelRed);
}

.pi3 {
    color: var(--panelRed);
}

.sl4 {
    background: var(--panelBlue);
}

.pi4 {
    color: var(--panelBlue);
}

.panel_info {
    position: absolute;
    top: 30%;
    right: 0;
    left: 25px;
    width: 2px;
    display: flex;
}

.panel_icon {
    font-size: 25px;
}

.panel_title {
    padding-left: 10px;
}

.panel_title p {
    margin-bottom: 0px;
}

.panel_title p:first-of-type {
    text-transform: uppercase;
    color: var(--greyText);
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 350px;
    gap: 10px;
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.graphs {
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    

}

.graphCanvas {
    width: 70% !important;
    height: 70% !important;
}

canvas {
    margin: 0 auto;
}

.NoAssinedTickets {
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
}

.graph_title {
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.barChart {
    width: 90% !important;
    height: 80% !important;
}

.commonSoftBar {
    grid-column-start: 2;
    grid-column-end: 4;
}

.status {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.reportedOs {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.problemPerType {
    grid-column-start: 3;
    grid-column-end: 3;
    align-content: center;
}

.horiBar {
    margin: 0 auto;
}

@media only screen and (max-device-width: 1000px) and (min-device-width: 751px) {
    .reportedOs {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
        height: 300px;
    }
    .commonSoftBar {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .problemPerType {
        grid-column-start: 4;
        grid-column-end: 5;
        height: 300px;
    }

    .status {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .NoAssinedTickets {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        align-content: center;
    }
    
    
}


@media only screen and (max-device-width: 750px) and (min-device-width: 631px) {
    .reportedOs {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
        height: 300px;
    }
    .commonSoftBar {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .problemPerType {
        grid-column-start: 4;
        grid-column-end: 5;
        height: 300px;
    }

    .status {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .NoAssinedTickets {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        align-content: center;
    }

    
}

@media only screen and (max-device-width: 630px) {
    .reportedOs {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        height: 300px;
    }
    .commonSoftBar {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .problemPerType {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 5;
        height: 300px;
    }

    .status {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .NoAssinedTickets {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        align-content: center;
    }
}

