@import 'variables.css';
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bodyColor);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.top_section {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav {
    background: var(--navColor);
    background-image: linear-gradient(to right, var(--navColor2) , var(--navColor));
    color: var(--white);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    /* border-bottom: 1px solid var(--mainText); */
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}

.nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menus {
    padding: 10px;
}

.nav_menus ul {
    display: flex;
}

.menu_item {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: column;
}

.menu_item ul {
    position: absolute;
    min-width: 180px; 
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--navColor);
    padding-bottom:  5px;
}

li a {
    width: 100%;
    height: 100%;
}
li a:hover {
    background-color: var(--navLight);
}

.menu_item ul li {
    padding: 10px;
}

.menu_item:hover > ul {
    display: block;
}

.menu_item a {
    text-decoration: none;
    color: var(--navText);
    padding: 10px;
}

.nav_logo_container {
    display: flex;
    margin: 20px;
}

#nav-logo {
    text-decoration: none;
    color: var(--white);
}

.menu_title {
    display: flex;
}

.menu_item p {
    padding: 5px;
}

.search_item {
    display: flex;
    flex-direction: column;
}

.search_item ::placeholder{
    color: var(--navText);
}

.search_container {
    padding: 5px 10px 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--navLight);
    border-radius: 5px;
}

.search_container form {
    display: flex;
}

.search_input[type="text"] {
    background-color: transparent;
    outline: none;
    border: none;
    height: 25px;
    padding: 0 10px;
}

.search_input {
    width: 100%;
    max-width: 600px;
    min-width: 50px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
}

.search_btn {
    background: none;
    border: none;
    outline: none;
    color: var(--navLight);
}

.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main_spec {
    display: grid;
    grid-template-columns: 60% 40%;
}

.main_spec_container {
    background-color: var(--white);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 6px var(--tableHeaderShade);
    margin: 30px;
}

.main_container {
    background-color: var(--white);
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 1px var(--tableHeaderShade),
    0 0 6px var(--tableHeaderShade);
}

.ticket_table {
    border-collapse:collapse;
    border-spacing: -200px 0;
    margin: 0;
    margin-top: 0px;
    font-size: 0.9rem;
    table-layout: fixed;
    z-index: 2;
    width: 100%;
}
.ticket_table td, .ticket_table th {
    padding: 12px 25px;
}

.ticket_table thead tr {
    text-align: left;
    font-weight: bold;
    color:var(--grey);
    font-size: 75%;
    border-bottom: 1px solid var(--tableHeaderShade);
    text-transform: uppercase;
}

.ticket-body tr {
    border-bottom: solid 1px var(--tableHeaderColor);
    cursor: pointer;
}

.ticket-body tr:hover {
    /* border-bottom: solid 3px var(--mainColor);
    border-top: solid 3px var(--mainColor); */
    box-shadow: 0 0px 6px rgb(0 0 0 / 20%),
    0 2px 2px rgb(0 0 0 / 20%);
    background-color: var(--tableBodyHover); 
    cursor: pointer;
}

.table_headers {
    background-color: var(--tableHeaderColor);
    background-image: linear-gradient(to right, var(--tableHeaderColor2), var(--tableHeaderColor));
    flex-shrink: 0;
    display: table-header-group;
    vertical-align: middle;
}

.table_top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_title_container {
    display: flex;
    align-items: center;
}

.table_title {
    font-size: 25px;
}

.table_title_info {
    font-size: 15px;
    margin: 5px;
    color: var(--grey);
}

.table_scroll_section {
    display: flex;
}

.table_scroll_container {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

.t-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    color: var(--buttonTextColor);
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
}

.t-button:hover {
    background-color: #dee6f1;
}

.t-arrow {
    min-height: 40px;
    min-width: 40px;
    padding: 4px;
}

.t-button-left {
    margin-right: 12px;
    opacity: 0.5;
    pointer-events: none;
}
.t-button-right {
    margin-left: 12px;
    opacity: 1;
    pointer-events: all;
}

.page-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-sep {
    padding-left: 2px;
    padding-right: 2px;
}

/* Account Page */
.account_wrapper {
    padding:60px;
}

.account_info {
    flex-grow: 1;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #dadce0;
}

.info-title {
    font-size: 1.4rem;
}

.info-top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    padding: 10px;
}

.info-tag {
    position: absolute;
    left: 40%;
}

.info-row {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dadce0;
    position: relative;
}

.info-label {
    margin-right: 30px;
    color: var(--greyText);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.password-info-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.password-info-row {
    border: none;
}

.logout-area {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

#logout-btn {
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

/* Tables Page */

.col-edit {
    width: 25%;
}

.tables {
    display: flex;
}

.edit-table {
    width: 15%;
}

.col-btn {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--greyText);
}

.col-btn:hover {
    cursor: pointer;
    background-color: var(--tableHeaderShade);
}

.table_options_container {
    display: flex;
    align-items: center;
}

.add-new-btn {
    padding: 10px;
    border: 1px solid var(--greyText);
    border-radius: 5px;
}

.add-new-btn:hover {
    background-color: var(--tableHeaderShade);
}


