<div class="top_section">
    <!-- Top Navbar -->
    <div class="nav">
        <div class="nav_container">
            <!-- Logo -->
            <div class="nav_item">
                <div class="nav_logo_container">
                    <a href="/" id="nav-logo">[Logo]</a>
                </div>
                <!-- Menus -->
                <div class="nav_menus">
                    <ul>
                        <a href="/">
                            <li class="menu_item">
                                <p><i class="fas fa-home"></i></p>
                                <p class="menu_link">Home</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menu_item">
                                <p><i class="fa-solid fa-ticket"></i></p>
                                <p class="menu_link">In Depth</p>
                            </li>
                        </a>
                        <a href="/">
                            <li class="menu_item">
                                <p><i class="fas fa-user"></i></p>
                                <p class="menu_link">Account</p>
                            </li>
                        </a>
                    </ul>
                </div>

            </div>

            <!-- Searchbar -->
            <div class="nav_item">
                <div class="nav_search">
                    <div class="search_container">
                        <form>
                            <button class="search_btn"><i class="fas fa-sliders-h"></i></button>
                            <input type="text" class="search_input" placeholder="Search Ticket">
                            <button class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!-- Search Filters-->
                    <div class="search_filters">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>