<!-- Pagination section to move through different pages in view -->

<div class="table_scroll_section">
    <div class="table_scroll_container">

        <button class="btn"
        <% if (page === 1) { %> disabled <% } %>
                onclick="prevPage()"
        >
            <span class="table-icon">
                <i class="fa-solid fa-angle-left"></i>
            </span>
        </button>

        <span class="page-info">
            <span class="page-num">Page <%= page %></span>
        </span>

        <button class="btn" onclick="nextPage()">
            <span class="table-icon">
                <i class="fa-solid fa-angle-right"></i>
            </span>
        </button>

    </div>
</div>