<!-- Pagination section to move through different pages in view -->

<div class="table_scroll_section">
    <div class="table_scroll_container">
        <button class="t-button t-button-left t-arrow back-page">
            <div class="t-button-content">
                <span class="table-icon">
                    <i class="fa-solid fa-angle-left"></i>
                </span>
            </div>
        </button>
        <span class="page-info">
            <span class="page-num">1</span>
            <span class="page-sep">/</span>
            <span class="number_of_pages">1</span>
        </span>
        <button class="t-button t-button-right t-arrow next-page">
            <div class="table-button-content">
                <span class="table-icon">
                    <i class="fa-solid fa-angle-right"></i>
                </span>
            </div>
        </button>
    </div>
</div>