<div class="table_scroll_section">
    <div class="table_scroll_container">
        <button class="t-button t-button-left first-page">
            <div class="table-button-content">First</div>
        </button>
        <button class="t-button t-button-left t-arrow back-page">
            <div class="t-button-content">
                <span class="table-icon">
                    <svg style="fill:currentColor" color="currentColor" viewBox="0 0 24 24" width="20" height="20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.586 12l5.707-5.707a1 1 0 111.414 1.414L10.414 12l4.293 4.293a1 1 0 01-1.414 1.414L7.586 12z" fill=""></path>
                    </svg>
                </span>
            </div>
        </button>
        <span class="page-info">
            <span class="page-num">1</span>
            <span class="page-sep">/</span>
            <span class="number_of_pages">1</span>
        </span>
        <button class="t-button t-button-right t-arrow next-page">
            <div class="table-button-content">
                <span class="table-icon">
                    <svg color="currentColor" viewBox="0 0 24 24" width="20" height="20" style="fill: currentcolor;">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.414 12l-5.707 5.707a1 1 0 01-1.414-1.414L13.586 12 9.293 7.707a1 1 0 011.414-1.414L16.414 12z" fill=""></path>
                    </svg>  
                </span>
            </div>
        </button>
        <button class="t-button t-button-right last-page">
            <div class="table-button-content">Last</div>
        </button>
    </div>
</div>