<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">[Logo]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- COLLAPSIBLE NAVBAR CONTENT
        This contains everything in the hamburger menu when the screen is small enough -->
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-ticket"></i>
                        Tickets
                    </a>
                </li>
                <!-- TABLE DROPDOWN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown">
                        <i class="fa-solid fa-table"></i>
                        Tables
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Hardware</a></li>
                        <li><a class="dropdown-item" href="#">Software</a></li>
                        <li><a class="dropdown-item" href="#">Operating System</a></li>
                    </ul>
                </li>
                <!-- END TABLE DROPDOWN -->
                <li class="nav-item">
                    <a class="nav-link" href="/account">
                        <i class="fas fa-user"></i>
                        <%= username %>
                    </a>
                </li>
            </ul>

        </div>
        <!-- END COLLAPSIBLE NAVBAR CONTENT -->

    </div>
</nav>