<div class="table_section">
    <div class="table_top">
        <div class="table_title_container">
            <h1 class="table_title">Your Tickets</h1>
            <p class="table_title_info">Total 63</p>
        </div>
        <div class="table_options_container">
            <!-- Searchbar -->
            <div class="search_item">
                <div class="search_container">
                    <form>
                        <button class="search_btn"><i class="fas fa-sliders-h"></i></button>
                        <input type="text" class="search_input" placeholder="Search Ticket">
                        <button class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Search Filters -->
                <div class="search_filters">

                </div>
            </div>
            <%- include('../partials/pagination.ejs') %>
        </div>

    </div>

    <table class="ticket_table">
        <thead class="table_headers">
        <tr>
            <th>Status</th>
            <th>ID</th>
            <th>Problem Type</th>
            <th>Title</th>
            <th>Last Updated</th>
        </tr>
        </thead>

        <tbody class="ticket-body op-ticket-body">

        <tr class="overdue">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr class="overdue">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr data-href="">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr data-href="">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr data-href="">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr data-href="">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        <tr data-href="">
            <td class="active">Active</td>
            <td>3</td>
            <td>Software</td>
            <td>Broken Computer</td>
            <td>20/03/27</td>
        </tr>
        </tbody>
    </table>
</div>